*~
m4/lt*.m4
m4/libtool.m4
.*.swp
*.[oa]
*.l[oa]
*.so
*.libs
*.deps
.dirstamp
libtool
/aclocal.m4
/autom4te.cache
/build-stamp
/config
/config.log
/config.guess
/config.status
/config.sub
/configure
/debian/files
/debian/vyatta-op-vpn
/debian/vyatta-op-vpn.postinst
/debian/vyatta-op-vpn.debhelper.log
/debian/vyatta-op-vpn.substvars
/INSTALL
/Makefile.in
/Makefile

/command_proc_show_vpn
templates/generate/vpn/rsa-key/bits/node.tag/node.def
templates/generate/vpn/rsa-key/bits/node.tag/random/node.tag/node.def
templates/generate/vpn/rsa-key/node.def
templates/generate/vpn/x509/key-pair/node.tag/node.def
templates/reset/vpn/ipsec-peer/node.tag/node.def
templates/reset/vpn/ipsec-peer/node.tag/tunnel/node.tag/node.def
templates/reset/vpn/ipsec-peer/node.tag/vti/node.def
templates/reset/vpn/ipsec-profile/node.tag/node.def
templates/reset/vpn/ipsec-profile/node.tag/tunnel/node.tag/node.def
templates/restart/vpn/node.def
templates/show/vpn/debug/detail/node.def
templates/show/vpn/debug/node.def
templates/show/vpn/debug/peer/node.tag/node.def
templates/show/vpn/debug/peer/node.tag/tunnel/node.tag/node.def
templates/show/vpn/ike/rsa-keys/node.def
templates/show/vpn/ike/sa/nat-traversal/node.def
templates/show/vpn/ike/sa/node.def
templates/show/vpn/ike/sa/peer/node.tag/node.def
templates/show/vpn/ike/secrets/node.def
templates/show/vpn/ike/status/node.def
templates/show/vpn/ipsec/sa/detail/node.def
templates/show/vpn/ipsec/sa/detail/peer/node.tag/node.def
templates/show/vpn/ipsec/sa/detail/peer/node.tag/tunnel/node.tag/node.def
templates/show/vpn/ipsec/sa/detail/profile/node.tag/node.def
templates/show/vpn/ipsec/sa/detail/profile/node.tag/tunnel/node.tag/node.def
templates/show/vpn/ipsec/sa/nat-traversal/node.def
templates/show/vpn/ipsec/sa/node.def
templates/show/vpn/ipsec/sa/peer/node.tag/node.def
templates/show/vpn/ipsec/sa/peer/node.tag/tunnel/node.tag/node.def
templates/show/vpn/ipsec/sa/profile/node.tag/node.def
templates/show/vpn/ipsec/sa/profile/node.tag/tunnel/node.tag/node.def
templates/show/vpn/ipsec/sa/statistics/node.def
templates/show/vpn/ipsec/sa/statistics/peer/node.tag/node.def
templates/show/vpn/ipsec/sa/statistics/peer/node.tag/tunnel/node.tag/node.def
templates/show/vpn/ipsec/sa/statistics/profile/node.tag/node.def
templates/show/vpn/ipsec/sa/statistics/profile/node.tag/tunnel/node.tag/node.def
templates/show/vpn/ipsec/status/node.def
/scripts/vyatta-gen-x509-keypair