Source: vyatta-op-vpn
Section: contrib/net
Priority: extra
Maintainer: Marat Nepomnyashy <marat@vyatta.com>
Build-Depends: debhelper (>= 5), autotools-dev, libsablot0-dev (>= 1.0.3-1)
Standards-Version: 3.7.2

Package: vyatta-op-vpn
Architecture: i386
Depends: vyatta-op,
 vyatta-bash | bash (>= 3.1),
 vyatta-cfg-vpn,
 libc6,
 openswan,
 libsablot0 (>= 1.0.3-1)
Suggests: util-linux (>= 2.13-5),
 net-tools,
 ethtool,
 ncurses-bin (>= 5.5-5),
 ntpdate
Description: Vyatta operational commands for VPN
 Vyatta commands to operate openswan VPN.
